nav.navbar {
  padding: 1rem;

  & div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & a.logo {
    font-weight: bold;
    color: #F9B233;
    text-decoration: none;
  }

  & .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;

    & a {
      color: #F9B233;
      text-decoration: none;
      text-transform: uppercase;
      // font-weight: bolder;
      cursor: pointer;
    }
    & a:hover {
      color: #C9922A;
    }
  }

  & .toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }

  @media (max-width: 600px) {
    .nav-links {
      display: none;
      flex-direction: column;
      background: #444;
      position: absolute;
      right: 0;
      top: 60px;
      width: auto;
      padding: 1rem;
      z-index: 1000;
    }

    .toggle {
      display: block;
    }

    .toggle.active + .nav-links {
      display: flex;
    }
  }
}